#page-landing {
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-background);
  color: var(--color-text-title);
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.1'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.locationImg {
  width: 100%;
  height: 28rem;

}

.title-desc {
  text-align: center;
  margin-bottom: 2rem;
}

.title-desc h1 {
  font-weight: 500;
  font-size: 4rem;
  line-height: 4rem;
  margin-bottom: 0.8rem;
  font-family: 'Lemonada', cursive;
}

.title-desc h2 {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 4rem;
  margin-bottom: 3rem;
}

.buttons-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 3rem 0;
}

.buttons-container a {
  width: 20rem;
  height: 7rem;
  border-radius: 10rem;
  margin-right: 1rem;
  font: 700 2.0rem;
  background: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.2s;
  color: var(--color-text-title);
}


.buttons-container a:first-child {
  margin-right: 1.6rem;
  background: var(--color-primary);
  /* color: var(--color-secondary); */
  color: var(--color-text-title);
}

.buttons-container a.find-mentor:hover {
  background: var(--color-primary-lighter);
}

.buttons-container a.be-mentor:hover {
  background: var(--color-primary-lighter);
}

@media (min-width: 1100px) {
  #landing-content {
    max-width: 1200px;
    display: grid;
    grid-template-rows: 350px 1fr;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-areas: "logo img img" "buttons nothing nothing";
  }
  .title-desc {
    grid-area: logo;
  }
  
  .locationImg {
    height: 50rem;
    grid-area: img;
  }

  .buttons-container {
    grid-area: buttons;
  }

  .title-desc h1 {
    font-size: 6rem;
  }
  
  .title-desc h2 {
    font-size: 2.8rem;
  }

}